@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full m-0 p-0 overflow-hidden font-sans text-gray-900 bg-gray-50 dark:bg-gray-900 dark:text-gray-100;
  }
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}
